   body {
    font: 10pt Arial, Helvetica, sans-serif; /* Øðèôò íà âåá-ñòðàíèöå */
    background: #e1dfb9; /* Öâåò ôîíà */
   }
   h2 {
    font-size: 1.1em; /* Ðàçìåð øðèôòà */
    color: #800040; /* Öâåò òåêñòà */
    margin-top: 0; /* Îòñòóï ñâåðõó */
   }
   #container {
    width: 800px; /* Øèðèíà ñëîÿ */
    margin: 0 auto; /* Âûðàâíèâàíèå ïî öåíòðó */
    background: #B0C4DE; /* Öâåò ôîíà ëåâîé êîëîíêè */
   }
   #header {
    font-size: 2.2em; /* Ðàçìåð òåêñòà */
    text-align: center; /* Âûðàâíèâàíèå ïî öåíòðó */
    padding: 5px; /* Îòñòóïû âîêðóã òåêñòà */
    background: #808080; /* Öâåò ôîíà øàïêè */
    color: #FFE4E1; /* Öâåò òåêñòà */
	height:220px;
    width: 789px;	
   }
   #sidebar {
    margin-top: 10px; 
    width: 160px; /* Øèðèíà ñëîÿ */
    padding: 0 10px; /* Îòñòóïû âîêðóã òåêñòà */
    float: left; /* Îáòåêàíèå ïî ïðàâîìó êðàþ */
   }
   #content {
    margin-left: 180px; /* Îòñòóï ñëåâà */
    padding: 10px; /* Ïîëÿ âîêðóã òåêñòà */
    background: #fff; /* Öâåò ôîíà ïðàâîé êîëîíêè */
   }
   #footer {
    background: #FFF8DC; /* Öâåò ôîíà ïîäâàëà */
    color: #fff; /* Öâåò òåêñòà */
    padding: 5px; /* Îòñòóïû âîêðóã òåêñòà */
    clear: left; /* Îòìåíÿåì äåéñòâèå float */
	text-align: center;
   }
